<a href="https://colab.research.google.com/github/rnadjqaim/atypical-python-/blob/main/sesssion_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#nested if 
# if inside if 

name = "Ahmed"
if len(name)==5 :
  print (name,"have 5 char")
  if name[0] == "A" :
    l=name.replace ("A","a")
    print (l)
  elif name[1]=="H" :
    print (len(name))
  else :
    print ("none")
elif  len(name) > 1 : # is not null 
  print ("the variable is not null")
elif len (name) == 0 : 
  print ("the variable is empty/null") 
else :
  print ("the code is end")

Ahmed have 5 char
ahmed

len = 4

TypeError: ignored

In [22]:
for c  in range (0,c):
  print ("*")

*

In [25]:
k = 5
l=4
for u in range (1,k): # k-1 
  print ("*")

*
*
*
*

In [33]:
#nested for : for in for
name =['ahmed','jehad','refuida','khaled'] 
if len(name) == 0 : 
  print ("empty")
else :
  for y in name :
    print (y)
    if y =="ahmed" : 
      print ("is here")
    else :
      print ("none")   
    for i in name :
      if i =="ahmed" and i =="jehad" and i == "refuida" and i=="khaled" :
        print ("all people are here !")
      else : 
        print ("none")    
        print (i.replace ("ahmed","null"))

ahmed
is here
none
null
none
jehad
none
refuida
none
khaled
jehad
none
none
null
none
jehad
none
refuida
none
khaled
refuida
none
none
null
none
jehad
none
refuida
none
khaled
khaled
none
none
null
none
jehad
none
refuida
none
khaled

In [46]:
x =5
for i in range (0,x):
  print ("*"*i)

*
**
***
****

In [65]:
x= 10
y=5
for i in range (1,x+3): # x-1 
  print (x, "x", i, "=", i*x)
  for u in range (1,y+1) :
    print ("####################")
    print (x, "x", u, "=", u*x)

10 x 1 = 10
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 2 = 20
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 3 = 30
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 4 = 40
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 5 = 50
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 6 = 60
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 7 = 70
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 8 = 80
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 9 = 90
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 10 = 100
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 11 = 110
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50
10 x 12 = 120
####################
10 x 1 = 10
####################
10 x 2 = 20
####################
10 x 3 = 30
####################
10 x 4 = 40
####################
10 x 5 = 50

In [58]:
yourpasswd= input ("your passwd")
for i in range (len(yourpasswd)) :
  i=i+1
print (i)

your passwdlgt,lc.;yx.
11